# nvr alias
alias nvs='NVIM_LISTEN_ADDRESS=/tmp/nvimsocket nvim'
alias nvm='nvr --remote'

# set autojump
alias ajump='. /usr/share/autojump/autojump.sh'

# moving between folder
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'

# -----------------------
# Handling Git
# -----------------------
alias gs='git status'

# Git->Log
alias gl='git log'

gl1() {
git log --graph --abbrev-commit --decorate --format=format:'%C(blue)%h%C(reset) - %C(green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(yellow)%d%C(reset)' --all
}

gl2() {
git log --graph --abbrev-commit --decorate --format=format:'%C(blue)%h%C(reset) - %C(cyan)%aD%C(reset) %C(green)(%ar)%C(reset)%C(yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
}

# Managing dotFiles using Git
alias dotgit='/usr/bin/git --git-dir=$HOME/.cfg/ --work-tree=$HOME'

# using es inplace of ls
alias es='exa'
